*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    ;
}

.img {
    background-image: url(../images/pramod-tiwari-C1f3yLDvAo4-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

 .font-size{
    font-size: 100px;
}

